html{
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.my-container{
  max-width: 1200px;
  margin: auto;
}
li,ul{
  list-style: none;
}
/* Styles */
.firstBlock{
  background-color: #1f2937;
  width: 100%;
}
.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f9faf8;
}
.headerLogo{
  font-size: 24px;
}
.headerLinksUl{
  display: flex;
  gap: 2rem;
  font-weight: 320;
  color: #e5e7eb;
  font-size: 18px;
}

.heroContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.webAwesome{
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
  margin: 0px;
  padding: 0px;
}
.textHero{
  font-size: 18px;
  color: #e5e7eb;
  margin: 0px;
  padding-bottom: 1rem;
}
.signupBtn{
  text-decoration: none;
  color: #f9faf8;
  padding: .5rem 2rem;
  border-radius: 10px;
  background-color: #3882f6;
}
.imgHolder{
  margin-top: 7rem;
  width: 500px;
  margin-bottom: 7rem;
}

.randInfo{
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
  text-align: center;
}
.cardsContainer{
  display: flex;
  gap: 2rem;
}
.imgCard{
  width: 200px;
  border-radius: 10px;
}
.pCard{
  text-align: center;
  margin-top: 5px;
  font-size: 18px;
}

.quoteContainer{
  background-color: #e5e7eb;
  margin-top: 10rem;
}
.quote{
  padding: 5rem;
  display: flex;
  justify-content: center;
  font-size: 36px;
}
.sign{
  font-size: 24px;
  display: flex;
  font-weight: 600;
  justify-content: end;
}

.actionContainer{
  background-color: #3882f6;
  width: 100%;
  margin-top: 8rem;
  border-radius: 10px;
  margin-bottom: 8rem;
}
.textActionContainer{
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
  color: #e5e7eb;
  align-items: center;
}
.tAction{
 margin: 0px;
 padding: 0px;
}
.pAction{
  margin: 0px;
  padding: 0px;
}
.aAction{
  text-decoration: none;
  color: #e5e7eb;
  background-color: transparent;
  outline: 2px solid #e5e7eb;
  padding: .4rem 2rem;
  border-radius: 10px;
}

.footerContainer{
  background-color: #1f2937;
}
.copyright{
  display: flex;
  justify-content: center;
  color: #f9faf8;
  padding: 1rem;
  font-size: 14px;
}